@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay.woff2") format("woff2"),
    url("../fonts/ClashDisplay.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
