.features {
  padding: 32px 0px 0px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // background faint img- start
  .main-feat-left {
    position: relative;
  }

  .background-img {
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: -100px;
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }
  // background faint img- end

  // stars- start
  .star {
    width: 10px;
    height: auto;
    position: absolute;
    background-color: transparent;
  }

  .star-1 {
    top: -3px;
    left: 120px;
    animation: blink 2s infinite;
  }

  .star-2 {
    top: -10px;
    left: 310px;
    animation: blink 1s infinite;
  }

  .star-3 {
    top: 200px;
    left: 290px;
    animation: blink 3s infinite;
  }

  // stars- end

  .igniting {
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .igniting-left {
      display: flex;
    }
  }

  .getlinked {
    font-family: $header-font;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    background-color: transparent;
    .tech {
      display: inline-block;
      .idea {
        width: 18px;
        height: 26px;
      }
    }
  }

  .hackathon {
    position: relative;
    background-color: transparent;
    font-family: $header-font;
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0;
    span {
      color: $light-purple;
    }
    img {
      width: 22.119px;
      height: 22.119px;
      display: inline;
    }
  }

  p {
    line-height: 21.58px;
    width: 264px;
    margin: auto;
  }

  .register-btn {
    border-radius: 4px;
    width: 152px;
    height: 46.837px;
    background: $gradient;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 16px auto;
    a {
      background-color: inherit;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
    }
  }

  .time {
    font-size: 48px;
    line-height: 63.84px;
    margin: 16px 0px 32px 0px;
    font-family: "Unica-One", sans-serif;
    .time-parameter {
      line-height: 18.62px;
      font-size: 14px;
      font-family: $body-font;
    }
  }

  .main-feat-right {
    // background: url(/img/purple-lens.png), no-repeat;
    border-bottom: 1px solid #ffffff2e;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
    }
    .boy-img {
      filter: grayscale(90%);
      object-fit: cover;
      position: relative;
    }
    .animate-img {
      position: absolute;
      object-fit: cover;
      width: 90%;
      height: auto;
      left: 25px;
      top: -15px;
      animation: moveLeftToRight 2s linear infinite alternate;
    }
  }
}

@keyframes moveLeftToRight {
  0% {
    left: 0px;
  }
  100% {
    left: calc(10%);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

// Media Query for Laptop
@media only screen and (min-width: 992px) {
  .register-btn {
    margin-top: 0px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
  }
}
