.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 0.5px solid #808080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .logo {
    a {
      font-family: $header-font;
      font-size: 32px;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      span {
        color: $light-purple;
      }
    }
  }

  .laptop-menu {
    display: none;
  }
}

.mobile-menu {
  height: 492px;
  border-radius: 8px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.04);
  @supports (-webkit-backdrop-filter: blur(30px)) or
    (backdrop-filter: blur(30px)) {
    .mobile-menu {
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
    }
  }

  .svg-container {
    position: relative;
    float: right;
    top: 35px;
    right: 35px;
  }

  .inner-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    margin-top: 120px;
    li {
      list-style: none;
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #fff;
        letter-spacing: -1px;
        font-size: 18px;
        font-weight: 500;
        font-family: Inter;
      }
    }
  }
}

.register-btn {
  border-radius: 4px;
  width: 172px;
  height: 53px;
  background: $gradient;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 32px;
  margin-top: 30px;
  a {
    background-color: inherit;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
}

// Transition
.menu-slide-enter-active,
.menu-slide-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.menu-slide-to,
.menu-slide-from {
  opacity: 1;
  transform: translateY(0);
}

// Media Query for Laptop
@media only screen and (min-width: 992px) {
  .home-header {
    padding: 48px 160px 16px 160px;
    .burger {
      display: none;
    }

    .laptop-menu {
      display: flex;
      ul {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        margin: 0;
        li {
          font-family: $body-font;
          list-style: none;
          padding: 0 48px;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              color: $light-purple;
              font-weight: 900px;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .register-btn {
    margin-top: 0px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
  }
}
