* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $dark-purple;
  font-family: $body-font;
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
