* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $dark-purple;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#app {
  scroll-behavior: smooth;
  font-family: $body-font;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
